/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 11pt;
 color: #000000;
}
span.rvts7
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 11pt;
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 11pt;
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 11pt;
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 color: #190000;
}
a.rvts12, span.rvts12
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts13
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts14
{
 font-size: 16pt;
 font-weight: bold;
 color: #0070c0;
 text-transform: uppercase;
}
span.rvts15
{
 font-size: 12pt;
 color: #190000;
}
span.rvts16
{
 font-size: 16pt;
 font-weight: bold;
 color: #000000;
 text-transform: uppercase;
}
span.rvts17
{
 font-size: 14pt;
 font-weight: bold;
 color: #000000;
}
span.rvts18
{
 font-size: 11pt;
 color: #000000;
}
span.rvts19
{
 font-size: 11pt;
 color: #190000;
}
span.rvts20 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts21, span.rvts21 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts22
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts23
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts24
{
 font-size: 11pt;
 color: #000000;
}
span.rvts25
{
 font-size: 16pt;
 font-weight: bold;
 color: #0070c0;
 text-transform: uppercase;
}
span.rvts26
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts27
{
 font-size: 12pt;
}
span.rvts28
{
 font-size: 16pt;
 font-weight: bold;
 text-transform: uppercase;
}
span.rvts29
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts30
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts31
{
 font-size: 14pt;
 color: #0070c0;
}
span.rvts32
{
 font-size: 11pt;
}
span.rvts33
{
 font-size: 16pt;
 font-weight: bold;
 color: #000000;
 text-transform: uppercase;
}
span.rvts34
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts35
{
 font-size: 11pt;
 color: ;
}
span.rvts36
{
 font-size: 15pt;
 font-weight: bold;
 color: #000000;
 text-transform: uppercase;
}
span.rvts37
{
 font-size: 11pt;
 color: #000000;
 background-color: #ffff00;
}
span.rvts38
{
 font-size: 11pt;
 color: #000000;
}
span.rvts39
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
 background-color: #ffffff;
}
a.rvts40, span.rvts40
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts41
{
 font-size: 11pt;
 color: #0070c0;
}
span.rvts42
{
 font-size: 12pt;
 color: #000000;
}
span.rvts43
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts44
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts45
{
 font-size: 15pt;
 color: #0070c0;
}
span.rvts46
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts47
{
 font-size: 15pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts48
{
 font-size: 12pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts49
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0070c0;
}
span.rvts50
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts51
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
 background-color: #ffffff;
}
span.rvts52
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
 text-transform: uppercase;
}
span.rvts53
{
 font-size: 14pt;
 font-weight: bold;
 color: ;
 text-transform: uppercase;
}
span.rvts54
{
 font-size: 14pt;
 font-weight: bold;
 color: #3366ff;
}
span.rvts55
{
 font-size: 12pt;
 font-family: 'Arial,Bold';
 color: #000000;
}
span.rvts56
{
 font-size: 11pt;
 color: #000000;
 background-color: #ffffff;
}
span.rvts57
{
 font-size: 14pt;
 color: #000000;
}
span.rvts58
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #0070c0;
}
span.rvts59
{
 font-size: 11pt;
 color: #000000;
}
span.rvts60
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts61
{
 font-size: 14pt;
 color: #000000;
}
span.rvts62
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts63
{
 font-size: 12pt;
 font-weight: bold;
 color: #000080;
}
span.rvts64
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts65
{
 font-size: 11pt;
 color: #000000;
 background-color: #ffffff;
}
span.rvts66
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts67
{
 font-size: 11pt;
 color: #000000;
}
span.rvts68
{
 font-size: 13pt;
 color: #000000;
}
span.rvts69
{
 font-size: 14pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts70
{
 font-size: 11pt;
 color: ;
}
span.rvts71
{
 font-size: 11pt;
 font-weight: bold;
 color: ;
}
span.rvts72
{
 font-size: 11pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts73
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
 text-transform: uppercase;
}
span.rvts74
{
 font-size: 11pt;
 color: ;
 background-color: #ffffff;
}
span.rvts75
{
 font-size: 11pt;
 color: #161616;
 background-color: #ffffff;
}
span.rvts76
{
 font-size: 11pt;
 color: #333333;
 background-color: #ffffff;
}
span.rvts77
{
 font-size: 11pt;
}
span.rvts78
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts79
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts80
{
 font-size: 11pt;
 background-color: #ffffff;
}
span.rvts81
{
 font-size: 11pt;
 font-family: 'microsoft sans serif';
 color: #000000;
}
span.rvts82
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts83
{
 font-size: 13pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts84
{
 font-size: 12pt;
 font-family: 'microsoft sans serif';
 color: #000000;
 background-color: #ffffff;
}
span.rvts85
{
 font-size: 13pt;
 color: #0070c0;
}
span.rvts86
{
 font-size: 16pt;
 font-weight: bold;
 color: ;
 text-transform: uppercase;
}
span.rvts87
{
 font-size: 11pt;
 color: #000000;
}
span.rvts88
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts89
{
 font-size: 11pt;
 color: #0070c0;
}
span.rvts90
{
 font-size: 14pt;
 color: #0070c0;
}
span.rvts91
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
a.rvts92, span.rvts92
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts93
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts94
{
 font-size: 12pt;
}
span.rvts95
{
 font-size: 11pt;
 color: ;
}
span.rvts96
{
 font-size: 11pt;
}
span.rvts97
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts98
{
 font-size: 11pt;
 color: #000000;
 background-color: #ffffff;
}
span.rvts99
{
 font-size: 11pt;
 color: #0070c0;
}
span.rvts100
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 color: #0070c0;
}
span.rvts101
{
 font-size: 13pt;
 font-weight: bold;
 color: #000000;
}
span.rvts102
{
 font-size: 13pt;
 color: #000000;
}
span.rvts103
{
 font-size: 13pt;
 font-weight: bold;
 color: #000000;
}
a.rvts104, span.rvts104
{
 font-size: 13pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts105
{
 font-size: 11pt;
 color: #000000;
 background-color: #ffffff;
}
span.rvts106
{
 font-size: 12pt;
 color: ;
 text-transform: uppercase;
}
span.rvts107
{
 font-size: 16pt;
 font-weight: bold;
 color: #000000;
 text-transform: uppercase;
}
a.rvts108, span.rvts108
{
 font-size: 11pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts109
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts110
{
 font-size: 12pt;
 font-weight: bold;
 color: #0070c0;
 text-transform: uppercase;
}
span.rvts111
{
 font-size: 14pt;
 font-weight: bold;
 color: #000000;
}
span.rvts112
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts113
{
 font-size: 13pt;
 font-weight: bold;
 color: #0070c0;
 text-transform: uppercase;
}
span.rvts114
{
 font-size: 14pt;
 font-weight: bold;
 color: #000000;
}
span.rvts115
{
 font-size: 11pt;
 font-style: italic;
 color: #0070c0;
}
span.rvts116
{
 font-size: 11pt;
 font-style: italic;
 color: #0070c0;
}
span.rvts117
{
 font-size: 14pt;
 font-weight: bold;
 color: #000000;
}
span.rvts118
{
 font-size: 14pt;
 color: #0070c0;
}
span.rvts119
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts120
{
 font-size: 11pt;
 font-style: italic;
 color: #000000;
}
span.rvts121
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts122
{
 font-size: 16pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts123
{
 font-size: 14pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts124
{
 font-size: 14pt;
 color: #0070c0;
}
span.rvts125
{
 font-size: 16pt;
 font-weight: bold;
 color: #0070c0;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: center;
}
.rvps5
{
}
.rvps6
{
 text-align: center;
 line-height: 1.50;
}
.rvps7
{
 line-height: 1.50;
}
.rvps8 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps9
{
 margin: 7px 300px 7px 0px;
}
.rvps10
{
 line-height: 1.50;
 margin: 0px 300px 0px 0px;
}
.rvps11
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps12
{
 line-height: 1.50;
 margin: 7px 300px 7px 0px;
}
.rvps13
{
 line-height: 1.50;
 margin: 0px 300px 11px 0px;
}
.rvps14
{
 margin: 0px 300px 0px 0px;
}
.rvps15
{
 line-height: 0.50;
}
.rvps16
{
 line-height: 1.50;
 margin: 0px 300px 0px 0px;
}
.rvps17
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps18
{
 text-indent: -24px;
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps19
{
 line-height: 1.50;
 margin: 0px 0px 6px 0px;
}
.rvps20
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps21
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps22
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps23
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 300px 4px 0px;
}
.rvps24
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 300px 4px 0px;
}
.rvps25
{
}
.rvps26
{
 margin: 0px 0px 0px 24px;
}
.rvps27
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps28
{
 line-height: 1.50;
}
.rvps29
{
 text-align: center;
 line-height: 1.50;
}
.rvps30
{
 line-height: 2.00;
}
.rvps31
{
 line-height: 2.00;
}
.rvps32
{
 background: #ffffff;
}
.rvps33
{
 text-align: center;
}
.rvps34
{
}
.rvps35
{
 line-height: 1.50;
 margin: 0px 300px 0px 0px;
}
.rvps36
{
 line-height: 1.50;
}
.rvps37
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps38
{
 line-height: 2.00;
 margin: 0px 300px 0px 0px;
}
.rvps39
{
 margin: 0px 24px 0px 24px;
}
.rvps40
{
}
.rvps41
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps42
{
 margin: 1px 0px 1px 0px;
}
.rvps43
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps44
{
 margin: 7px 0px 7px 0px;
}
.rvps45
{
 line-height: 2.00;
}
.rvps46
{
 line-height: 1.50;
 margin: 7px 0px 7px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
